body {
    background-image: url("/assets/park.png");
    background-size: cover;
}

.img-circle {
    border-radius: 50%;
}

.head-text {
    font-family: 'Dokdo', cursive;
    font-size: 4em;
}

.health-text {
    font-family: 'Dokdo', cursive;
    font-size: 2em;
}

/*font-family: 'Reenie Beanie', cursive; */
/* font-family: 'Fredericka the Great', cursive; */
/* font-family: 'Dokdo', cursive; */